$color: #31b6ba;

body, .container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.background {
  height: calc(100vh + 40px);
  width: calc(100vw + 40px);
  margin-top: -10px;
  margin-left: -10px;

  background-image: url("/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  filter: blur(9px);
  -webkit-filter: blur(9px);

  .filter {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
  }
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  h1 {
    color: white;
    font-size: 3em;
    font-weight: 100;
    line-height: 70px;

    .name {
      color: $color;
      box-shadow: inset 0 0 0 0 $color;
      margin: 0 5px 0 -0.25rem;
      padding: 0 .25rem;
      transition: color .3s ease-in-out;
      animation-name: name_anim_reverse;
      animation-duration: .3s;
      animation-fill-mode: forwards;
      font-weight: 400;

      &:hover {
        color: white;
        animation-name: name_anim;
        animation-duration: .3s;
        animation-fill-mode: forwards;
      }
    }
  }

  h2 {
    color: white;
    font-weight: 100;
    font-size: 1.5em;

    a {
      color: white;
      transition: color 0.3s ease-in-out;
      text-decoration: none;

      &:hover {
        color: $color;
      }
    }
  }

  .links {
    text-align: center;
    display: flex;
    justify-content: space-around;


    a {
      flex: 1 1 auto;
      margin: 10px;
      padding: 20px;
      border: 2px solid $color;
      text-align: center;
      text-transform: uppercase;
      position: relative;
      overflow: hidden;
      transition: .3s;
      text-decoration: none;
      color: $color;

      &:after {
        position: absolute;
        transition: .3s;
        content: '';
        width: 0;
        bottom: 0;
        background: $color;
        height: 120%;
        left: -10%;
        transform: skewX(15deg);
        z-index: -1;
        color: white;
      }

      &:hover {
        cursor: pointer;
        color: white;

        &:after {
          left: -10%;
          top: -5px;
          width: 120%;
        }
      }
    }


  }
}

.footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.8rem;

  a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}


@-webkit-keyframes name_anim {
  0% {
    box-shadow: inset 0 0 0 0 $color;
  }
  1% {
    box-shadow: inset 0 0 0 0.01px $color;
  }
  100% {
    box-shadow: inset 370px 0 0 0.01px $color;
  }
}

@keyframes name_anim {
  0% {
    box-shadow: inset 0 0 0 0 $color;
  }
  1% {
    box-shadow: inset 0 0 0 0.01px $color;
  }
  100% {
    box-shadow: inset 370px 0 0 0.01px $color;
  }
}

@-webkit-keyframes name_anim_reverse {
  0% {
    box-shadow: inset 370px 0 0 0.01px $color;
  }
  99% {
    box-shadow: inset 0 0 0 0.01px $color;
  }
  100% {
    box-shadow: inset 0 0 0 0 $color;
  }
}

@keyframes name_anim_reverse {
  0% {
    box-shadow: inset 370px 0 0 0.01px $color;
  }
  99% {
    box-shadow: inset 0 0 0 0.01px $color;
  }
  100% {
    box-shadow: inset 0 0 0 0 $color;
  }
}
